<div id="intro">
  <h1> Welcome, please fill out credentials</h1>
  <%= form_for(@amazon, url: home_set_instance_path) do |f| %>
  <p><%=label_tag 'api_key' %> </p>
  <p><%=text_field_tag 'api_key'%></p>

  <p><%=label_tag 'secret_key' %> </p>
  <p><%=text_field_tag 'secret_key'%></p>

  <!-- <p><%=label_tag 'region' %> </p>
  <p><%=text_field_tag 'region'%></p>

  <p><%=label_tag 'format' %> </p>
  <p><%=text_field_tag 'format'%></p>

  <p><%=label_tag 'account' %> </p>
  <p><%=text_field_tag 'account'%></p> -->

  <p><%= submit_tag 'Save' %></p>
  <% end %>
  <hr>
</br>

  <% if @amazon_inst.present? %>
  <h4> Your Instances and Image are </h4>
    <%@amazon_inst['DescribeInstancesResponse']['reservationSet']['item']['instancesSet'].each do |x| %>
      <p>Instance ID: <%=x[1]['instanceId']%></p>
      <p>Image ID: <%=x[1]['imageId']%></p>
    <% end %>
  <% end %>
</div>


